.photos_container
  .left
    .photo.small
      img(src="/img/flickr-tmp/00010.jpg")
  .right
    .photo.small
      img(src="/img/flickr-tmp/00093.jpg")
  .photo
    img(src="/img/flickr-tmp/00111.jpg")
block append head
  link(rel='stylesheet', href='/css/photos.css')
