.left {
    width:10%;
    float:left;
}

.right {
    width:10%;
    float:right;
}

.photo img {
    width:100%;
    height:100%;
}

.large {
    width:70%;
    padding:8px;
    clear:none;
    margin:0 auto;
}

.small {
    padding-top:150px;
}
